In [1]:
import numpy as np
import pandas as pd

In [2]:
datafile = "../../data/processed/bc.csv"
df = pd.read_csv(datafile, index_col='Sample')
cols = df.columns
x = df[cols[:-1]]
y = pd.get_dummies(df[cols[-1]])[2]

In [3]:
x.head()

,Clump Thickness,Cell Size Uniformity,Cell Shape Uniformity,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nuclei,Mitoses
Sample,,,,,,,,,
1000025,5,1,1,1,2,1,3,1,1
1002945,5,4,4,5,7,10,3,2,1
1015425,3,1,1,1,2,2,3,1,1
1016277,6,8,8,1,3,4,3,7,1
1017023,4,1,1,3,2,1,3,1,1

In [4]:
y.head()

Sample
1000025    1
1002945    1
1015425    1
1016277    1
1017023    1
Name: 2, dtype: uint8

In [7]:
y.value_counts()

1    444
0    239
Name: 2, dtype: int64

In [11]:
cc = [x[c].value_counts() for c in x.columns]
for _ in cc:
    print(_)

1     139
5     128
3     104
4      79
10     69
2      50
8      44
6      33
7      23
9      14
Name: Clump Thickness, dtype: int64
1     373
10     67
3      52
2      45
4      38
5      30
8      28
6      25
7      19
9       6
Name: Cell Size Uniformity, dtype: int64
1     346
10     58
2      58
3      53
4      43
5      32
7      30
6      29
8      27
9       7
Name: Cell Shape Uniformity, dtype: int64
1     393
3      58
2      58
10     55
4      33
8      25
5      23
6      21
7      13
9       4
Name: Marginal Adhesion, dtype: int64
2     376
3      71
4      48
1      44
6      40
5      39
10     31
8      21
7      11
9       2
Name: Single Epithelial Cell Size, dtype: int64
1     402
10    132
5      30
2      30
3      28
8      21
4      19
9       9
7       8
6       4
Name: Bare Nuclei, dtype: int64
3     161
2     160
1     150
7      71
4      39
5      34
8      28
10     20
9      11
6       9
Name: Bland Chromatin, dtype: int64
1     432
10     60
3      42
2      36
8      23
6      22
5      19
4      18
7      16
9      15
Name: Normal Nuclei, dtype: int64
1     563
2      35
3      33
10     14
4      12
7       9
8       8
5       6
6       3
Name: Mitoses, dtype: int64